@font-face {
  font-family: "Lilex";
  src: url("../font/Lilex.woff") format("truetype");
}

:root {
  --bg: oklch(25.1% 0.0049 39.394);
  --fg: oklch(90.0% 0.0291 91.657);
  --accent: oklch(70.4% 0.0898 55.952);
  --scroll: var(--accent);
}

* {
  box-sizing: border-box;
}

html {
  scrollbar-color: var(--scroll) var(--bg);
  scrollbar-width: thin;
}

::selection {
  background: var(--accent);
  color: var(--bg);
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--fg);
  font-family: "Lilex", monospace;
  font-size: 1rem;
  line-height: 1.6;
}

main {
  padding: 2rem;
  max-width: 720px;
  margin: 0 auto;
}

a {
    color: var(--accent);
    text-decoration: none;
    font-weight: bold;
}

#link {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#name {
  color: var(--accent);
  font-weight: bold;
  cursor: pointer;
}

#name:hover {
  border-bottom: 2px dashed var(--accent);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--bg);
}

::-webkit-scrollbar-thumb {
  background: var(--scroll);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}
